Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2023-08, with the labels that each got.

#5 Adds `skaffold` based setup
  Makefile
  charts/gardener-extension-shoot-rsyslog-relp-admission/Chart.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/templates/service.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/values.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/values.yaml
  charts/gardener-extension-shoot-rsyslog-relp/templates/_helpers.tpl
  charts/gardener-extension-shoot-rsyslog-relp/templates/deployment.yaml
  charts/gardener-extension-shoot-rsyslog-relp/values.yaml
  charts/internal/rsyslog-relp-configurator/templates/configmap.yaml
  docs/development/getting-started.md
  example/controller-registration.yaml
  example/local/admission/networkpolicy.yaml
  example/local/admission/values.yaml
  hack/admission-tls/ca-config.json
  hack/admission-tls/shoot-rsyslog-relp-admission-ca-csr.json
  hack/admission-tls/shoot-rsyslog-relp-admission-config.json
  hack/rsyslog-relp-up-kind.sh
  skaffold.yaml
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#9 Fixes e2e test flake when running parallel tests
  test/e2e/test_common.go
Labels: kind/flake, needs/ok-to-test, needs/review, size/s

#6 Add support for projected volume kubeconfig
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/values.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/values.yaml
Labels: area/security, kind/enhancement, reviewed/lgtm, needs/ok-to-test, size/s
