Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-03, with the labels that each got.

#66 Move `images.yaml` file to dedicated `imagevector` package
  .ci/set_dependency_version
  .dockerignore
  .reuse/dep5
  Makefile
  charts/images.go
  docs/development/getting-started.md
  imagevector/images.go
  imagevector/images.yaml
  imagevector/imagevector.go
  pkg/constants/constants.go
  pkg/controller/lifecycle/actuator.go
  pkg/imagevector/imagevector.go
  skaffold.yaml
Labels: kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/L, cla: yes, lgtm, approved

#73 Bump `github.com/gardener/gardener` to `v1.89.0`
  .ci/component_descriptor
  .ci/hack/component_descriptor
  .ci/hack/doc.go
  .ci/hack/prepare_release
  .ci/hack/set_dependency_version
  .ci/pipeline_definitions
  .reuse/dep5
  .test-defs/TestSuiteShootRsyslogRelpBetaSerial.yaml
  Dockerfile
  go.mod
  go.sum
  imagevector/images.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/rsyslog/validation/validation_test.go
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/webhook/operatingsystemconfig/auditd.go
  pkg/webhook/operatingsystemconfig/ensurer.go
  pkg/webhook/operatingsystemconfig/ensurer_test.go
  pkg/webhook/operatingsystemconfig/rsyslog.go
  pkg/webhook/operatingsystemconfig/webhook.go
Labels: kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, size/L, cla: yes, lgtm, approved

#75 Documentation Enhancement - 2024.02 (Rebase 2)
  README.md
  docs/development/getting-started.md
  docs/development/shoot-rsyslog-relp.md
  docs/usage/configuration.md
Labels: area/documentation, kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, size/L, cla: yes, lgtm, approved

#72 Use `controller-gen` to generate CRDs used in integration tests
  .reuse/dep5
  test/integration/controller/lifecycle/resources/crd-extensions.gardener.cloud_clusters.yaml
  test/integration/controller/lifecycle/resources/crd-extensions.gardener.cloud_extensions.yaml
  test/integration/controller/lifecycle/resources/crd-resources.gardener.cloud_managedresources.yaml
  test/integration/controller/lifecycle/resources/doc.go
Labels: kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, size/M, cla: yes, lgtm, approved

#77 Fix ocm repository mapping for head updates
  .ci/pipeline_definitions
  Makefile
  README.md
  docs/development/getting-started.md
Labels: kind/bug, reviewed/ok-to-test, needs/ok-to-test, size/S, cla: yes, lgtm, approved

#80 Always delete the config cleaner MR when the extension is deleted
  pkg/controller/lifecycle/actuator.go
Labels: kind/bug, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved

#79 Drop support for Shoots with Kubernetes version == 1.24
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-shoot-rsyslog-relp/templates/poddisruptionbudget.yaml
  example/controller-registration.yaml
  go.mod
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/controller/lifecycle/actuator.go
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/cleanup, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved

#82 Increase timeouts for `testmachinery` tests
  test/common/configuration.go
  test/common/verifier.go
  test/e2e/create_enable_disable_delete.go
  test/e2e/create_enable_force_delete.go
  test/e2e/create_enabled_hibernate_reconcile_delete_test.go
  test/testmachinery/shoot/enable_disable_test.go
  test/testmachinery/shoot/enable_hibernate_reconcile_wakeup_disable_test.go
Labels: area/testing, kind/bug, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved
