Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-01, with the labels that each got.

#47 switch GCR -> Artifact-Registry
  .ci/pipeline_definitions
  Makefile
  charts/gardener-extension-shoot-rsyslog-relp-admission/values.yaml
  charts/gardener-extension-shoot-rsyslog-relp/values.yaml
  charts/images.yaml
  example/controller-registration.yaml
  skaffold.yaml
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s, cla: yes

#59 Set COMPONENT_PREFIXES env var to fix component descriptor step in the head-update job
  .ci/component_descriptor
Labels: kind/bug, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs, cla: yes

#56 Add documentation on how the `shoot-rsyslog-relp` extension configuration is applied to shoots
  README.md
  docs/development/shoot-rsyslog-relp.md
Labels: kind/enhancement, reviewed/lgtm, needs/ok-to-test, size/s, cla: yes

#52 Add `testmachinery` tests
  .test-defs/TestSuiteShootRsyslogRelpBetaSerial.yaml
  Dockerfile
  Makefile
  docs/development/getting-started.md
  example/local/charts.go
  example/local/charts/rsyslog-relp-echo-server/Chart.yaml
  example/local/charts/rsyslog-relp-echo-server/templates/service.yaml
  skaffold.yaml
  test/common/configuration.go
  test/common/testdata/tls/rsyslog-relp-secret.yaml
  test/common/utils.go
  test/common/verifier.go
  test/e2e/create_enable_disable_delete.go
  test/e2e/create_enable_force_delete.go
  test/e2e/create_enabled_hibernate_reconcile_delete_test.go
  test/e2e/test_common.go
  test/testmachinery/shoot/common_test.go
  test/testmachinery/shoot/enable_disable_test.go
  test/testmachinery/shoot/enable_hibernate_reconcile_wakeup_disable_test.go
  test/testmachinery/shoot/shoot_suite_test.go
Labels: kind/enhancement, kind/test, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl, cla: yes

#48 Refactor `rsyslog-relp-configuration-cleaner` helm chart into `go` component
  .reuse/dep5
  charts/charts.go
  charts/internal/rsyslog-relp-configuration-cleaner/Chart.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/templates/0helpers.tpl
  charts/internal/rsyslog-relp-configuration-cleaner/templates/clusterrole-psp.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/templates/daemonset.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/templates/psp.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/templates/rolebinding-psp.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/templates/serviceaccount.yaml
  charts/internal/rsyslog-relp-configuration-cleaner/values.yaml
  docs/development/shoot-rsyslog-relp.md
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/constants/constants.go
  pkg/controller/lifecycle/actuator.go
  skaffold.yaml
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/cleanup, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl, cla: yes

#58 Ensure that `rsyslog.service` is enabled before configuring it
  Makefile
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
Labels: kind/bug, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs, cla: yes
