Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-08, with the labels that each got.

#158 Bump github.com/gardener/gardener from 1.99.0 to 1.99.3
  go.mod
  go.sum
Labels: kind/enhancement, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#149 Expose audit rules configuration in the `shoot-rsyslog-relp` api
  .reuse/dep5
  .test-defs/TestSuiteShootRsyslogRelpBetaSerial.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/application/templates/cluster-role.yaml
  docs/development/shoot-rsyslog-relp.md
  docs/usage/configuration.md
  docs/usage/monitoring.md
  example/configmap-rsyslog-audit.yaml
  example/extension/extension-config-patch.yaml.tmpl
  example/secret-rsyslog-tls-certs.yaml
  example/shoot.yaml
  hack/api-reference/rsyslog.md
  hack/configure-shoot.sh
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/rsyslog/register.go
  pkg/apis/rsyslog/types_auditd.go
  pkg/apis/rsyslog/types_rsyslog.go
  pkg/apis/rsyslog/v1alpha1/defaults_test.go
  pkg/apis/rsyslog/v1alpha1/register.go
  pkg/apis/rsyslog/v1alpha1/types_auditd.go
  pkg/apis/rsyslog/v1alpha1/types_defaults.go
  pkg/apis/rsyslog/v1alpha1/types_rsyslog.go
  pkg/apis/rsyslog/v1alpha1/v1alpha1_suite_test.go
  pkg/apis/rsyslog/v1alpha1/zz_generated.conversion.go
  pkg/apis/rsyslog/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/rsyslog/v1alpha1/zz_generated.defaults.go
  pkg/apis/rsyslog/validation/auditd.go
  pkg/apis/rsyslog/validation/rsyslog_relp.go
  pkg/apis/rsyslog/validation/validation_test.go
  pkg/apis/rsyslog/zz_generated.deepcopy.go
  pkg/cmd/rsyslogrelp/options.go
  pkg/constants/constants.go
  pkg/controller/lifecycle/actuator.go
  pkg/controller/lifecycle/dashboard_config.go
  pkg/controller/lifecycle/monitoring.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/webhook/operatingsystemconfig/auditd.go
  pkg/webhook/operatingsystemconfig/ensurer.go
  pkg/webhook/operatingsystemconfig/ensurer_test.go
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/rsyslog.go
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
  skaffold.yaml
  test/common/configuration.go
  test/common/testdata/audit/audit-configmap.yaml
  test/common/testdata/tls/rsyslog-relp-secret.yaml
  test/common/verifier.go
  test/e2e/create_enable_disable_delete.go
  test/e2e/create_enable_force_delete.go
  test/e2e/create_enabled_hibernate_reconcile_delete_test.go
  test/testmachinery/shoot/enable_disable_test.go
  test/testmachinery/shoot/enable_hibernate_reconcile_wakeup_disable_test.go
Labels: kind/enhancement, reviewed/ok-to-test, cla: yes, lgtm, approved, size/XXL

#162 Fix flake at `The function passed to Consistently failed at /src/test/common/verifier.go:147`
  test/common/verifier.go
Labels: area/quality, kind/bug, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved
