Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-09, with the labels that each got.

#164 Testmachinery test uses rsyslog-tls secret with unique name
  example/shoot.yaml
  test/common/testdata/audit/audit-configmap.yaml
  test/common/testdata/tls/rsyslog-relp-secret.yaml
  test/common/utils.go
  test/e2e/create_enable_disable_delete.go
  test/testmachinery/shoot/enable_disable_test.go
Labels: area/robustness, kind/flake, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved

#165 Nit: Fix a warning for deprecated config usage in .golangci.yaml
  .golangci.yaml
Labels: kind/cleanup, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved

#171 Handle `-- Mark --` logs in `rsyslog-relp-echo-server`'s output when checking if the extension is disabled
  test/common/verifier.go
Labels: kind/flake, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#172 make extension-down: Delete the validating webhook of the admission component
  Makefile
Labels: area/dev-productivity, kind/enhancement, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#174 Expect upper case `-- MARK --` message during test
  test/common/verifier.go
Labels: kind/flake, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#147 Publish Helm charts as OCI artifacts
  .ci/pipeline_definitions
  Makefile
  charts/gardener-extension-shoot-rsyslog-relp/templates/_helpers.tpl
  charts/gardener-extension-shoot-rsyslog-relp/templates/deployment.yaml
  charts/gardener-extension-shoot-rsyslog-relp/values.yaml
  example/controller-registration.yaml
  hack/generate-kustomize-patch-controllerdeployment-shoot-rsyslog-relp.sh
  local-setup/.gitignore
  local-setup/kustomization.yaml
  skaffold.yaml
Labels: area/delivery, kind/enhancement, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved
