Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-07, with the labels that each got.

#135 [admission] Add `priorityClassName`
  charts/gardener-extension-shoot-rsyslog-relp-admission/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-shoot-rsyslog-relp-admission/values.yaml
Labels: area/robustness, kind/enhancement, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#136 Fix remote extension setup
  example/kustomization.yaml
  local-setup/kustomization.yaml
  skaffold.yaml
Labels: area/dev-productivity, kind/regression, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved

#127 Improve testmachinery tests and add checks for forwarding of audit logs
  .test-defs/TestSuiteShootRsyslogRelpBetaSerial.yaml
  test/common/configuration.go
  test/common/verifier.go
  test/e2e/create_enable_disable_delete.go
  test/e2e/create_enable_force_delete.go
  test/e2e/create_enabled_hibernate_reconcile_delete_test.go
  test/testmachinery/shoot/enable_disable_test.go
  test/testmachinery/shoot/enable_hibernate_reconcile_wakeup_disable_test.go
Labels: area/testing, kind/enhancement, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved

#138 Limit the memory of the rsyslog service
  pkg/webhook/operatingsystemconfig/ensurer_test.go
  pkg/webhook/operatingsystemconfig/rsyslog.go
Labels: kind/enhancement, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved

#140 Add monitoring documentation
  docs/usage/monitoring.md
Labels: area/documentation, kind/enhancement, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved

#150 Adds missing empty new line at end of audit rules file
  pkg/webhook/operatingsystemconfig/resources/auditrules/11-privileged-special.rules
  pkg/webhook/operatingsystemconfig/testdata/11-privileged-special.rules
Labels: kind/bug, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved
