Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-05, with the labels that each got.

#103 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#76 Only use immutable tls secret
  docs/usage/configuration.md
  example/secret-rsyslog-tls-certs.yaml
  pkg/admission/validator/shoot_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/webhook/operatingsystemconfig/ensurer.go
  pkg/webhook/operatingsystemconfig/rsyslog.go
  test/common/testdata/tls/rsyslog-relp-secret.yaml
Labels: area/quality, kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, size/M, cla: yes, lgtm, approved

#99 [GEP-19] Adapt monitoring configuration
  charts/gardener-extension-shoot-rsyslog-relp/templates/clusterrole.yaml
  cmd/gardener-extension-shoot-rsyslog-relp-admission/app/app.go
  cmd/gardener-extension-shoot-rsyslog-relp/app/app.go
  docs/development/shoot-rsyslog-relp.md
  example/controller-registration.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/lifecycle/monitoring.go
  skaffold.yaml
  test/e2e/create_enable_force_delete.go
  test/integration/controller/lifecycle/resources/crd-extensions.gardener.cloud_clusters.yaml
  test/integration/controller/lifecycle/resources/crd-extensions.gardener.cloud_extensions.yaml
  test/integration/controller/lifecycle/resources/crd-resources.gardener.cloud_managedresources.yaml
Labels: area/monitoring, kind/enhancement, reviewed/ok-to-test, size/XL, cla: yes, lgtm, approved

#106 Restart rsyslog when tls certificates change
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/webhook/operatingsystemconfig/resources/templates/60-audit.conf.tpl
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/rsyslog.go
  pkg/webhook/operatingsystemconfig/testdata/60-audit-with-tls.conf
  pkg/webhook/operatingsystemconfig/testdata/60-audit.conf
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/bug, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved

#102 Introduce `remote-extension-up` make target
  .reuse/dep5
  Dockerfile
  Makefile
  charts/gardener-extension-shoot-rsyslog-relp/doc.go
  docs/development/getting-started-remotely.md
  example/controller-registration.yaml
  example/extension/.gitignore
  example/extension/extension-config-patch.yaml.tmpl
  hack/configure-shoot.sh
  hack/remote-extension-up.sh
  skaffold.yaml
Labels: area/dev-productivity, kind/enhancement, reviewed/ok-to-test, size/L, cla: yes, lgtm, approved
