Repository gardener/gardener-extension-shoot-rsyslog-relp, pull requests merged in 2024-06, with the labels that each got.

#104 Avoid audit log duplication when `system-journald-audit` socket is enabled
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/bug, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved

#115 Adds a queue for rsyslog relp messages
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/webhook/operatingsystemconfig/resources/templates/60-audit.conf.tpl
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/rsyslog.go
  pkg/webhook/operatingsystemconfig/testdata/60-audit-with-tls.conf
  pkg/webhook/operatingsystemconfig/testdata/60-audit.conf
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: kind/enhancement, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved

#126 Add the kind/enhancement label to the dependabot PRs
  .github/dependabot.yaml
Labels: kind/enhancement, reviewed/ok-to-test, size/XS, cla: yes, lgtm, approved

#123 Enable rsyslog to process logs on suse-chost 15 SP3 nodes
  pkg/component/rsyslogrelpconfigcleaner/rsyslog_relp_config_cleaner.go
  pkg/webhook/operatingsystemconfig/resources/templates/scripts/configure-rsyslog.tpl.sh
  pkg/webhook/operatingsystemconfig/rsyslog.go
  pkg/webhook/operatingsystemconfig/testdata/configure-rsyslog.sh
  test/integration/controller/lifecycle/lifecycle_test.go
Labels: area/quality, kind/bug, reviewed/ok-to-test, size/M, cla: yes, lgtm, approved

#128 Ignore errors when loading audit rules
  pkg/webhook/operatingsystemconfig/resources/auditrules/00-base-config.rules
  pkg/webhook/operatingsystemconfig/resources/auditrules/11-privileged-special.rules
  pkg/webhook/operatingsystemconfig/testdata/00-base-config.rules
  pkg/webhook/operatingsystemconfig/testdata/11-privileged-special.rules
Labels: kind/enhancement, reviewed/ok-to-test, size/S, cla: yes, lgtm, approved
